---
permalink: /{{ locale }}/index.html
---

{% extends "layouts/base.njk" %}
{% set metaLang = locale %}
{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}

{% block content %}
  <main>

    <div class="c-pagesection  c-pagesection--intro">
      <section class="c-pagesection__body">
        <div class="l-container  l-intro">

          <div class="l-intro__content">
            <h2 class="c-h2">La désobéissance civile et son rapport au droit.</h2>
            <div class="c-textintro">
              <p>Ce mode d’action soulève un nombre important d’interrogations fondamentales que nous souhaitons explorer avec vous.</p>
            </div>
            <p>Désobéir est-il un droit. Et si oui, quelle place faut-il lui donner ? Quelle place y a-t-il pour le désobéissant face à la justice dans un Etat de droit ?</p>
            <p>Quelle frontière tracer entre désobéissance et insurrection, violence, ou encore révolte ? La désobéissance civile n’est-elle qu’un moyen d’action, ou une fin en soi ?</p>
            <p>Ce mode d’action est-il à même de convaincre l’opinion publique, de transcender les désaccords de la société pour exprimer une volonté commune ?</p>
          </div>

          <img class="l-intro__image  o-fluidimg"
               src="/img/protest_400.jpg"
               srcset="/img/protest_400.jpg 400w,
                       /img/protest_600.jpg 600w,
                       /img/protest_800.jpg 800w"
               sizes="(min-width: 1300px) 465px,
                      (min-width: 750px) 33vw,
                      100vw"
               alt="Manifestant tenant un feu de bengale">

        </div>
      </section>
      <section class="c-pagesection__body">
        <div class="l-container  l-programme">

          <div class="l-programme__title">
            <h2 class="c-vtitle">Programme</h2>
          </div>
          <div class="l-programme__content">

            {# Get events #}
            {% for event in events_nl | reverse %}
              {% if loop.first %}<ul class="l-grid  l-grid--2cols@medium  l-grid--3cols@large">{% endif %}

                <li class="l-grid__unit">

                  <article class="c-event">
                    <p class="c-event__type">{{ event.data.type }}</p>
                    <p class="c-event__date">
                      <time datetime="{{ event.data.startDate|date('YYYY-MM-DDTHH:mm') }}">{{ event.data.startDate|date("HH[h]mm", locale) }}</time>
                      -
                      <time datetime="{{ event.data.endDate|date('YYYY-MM-DDTHH:mm') }}">{{ event.data.endDate|date("HH[h]mm", locale) }}</time>
                    </p>
                    <h3 class="c-event__title">{{ event.data.title }}</h3>
                    {{ event.templateContent | safe }}
                    <p class="c-event__location">{{ event.data.location }}</p>
                  </article>

                </li>

              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
          </div>

        </div>
      </section>
    </div>

    <div class="c-pagesection  c-pagesection--light">
      <section class="c-pagesection__body">
        <div class="l-container  l-speakers">

          <div class="l-speakers__title">
            <h2 class="c-vtitle  c-vtitle--dark">Participants</h2>
          </div>
          <div class="l-speakers__content">

            {# Get speakers #}
            {% for speaker in speakers_nl %}
              {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large">{% endif %}
                <li>

                  <article class="c-speaker">
                    <a class="c-speaker__link" href="{{ speaker.url }}">
                      <p class="c-speaker__image-wrapper"><img src="/img/speakers/{{ speaker.picture }}" class="c-speaker__image  o-fluidimg" alt="{{ speaker.name }} {{ speaker.surname }}"></p>
                      <h3 class="c-speaker__name">{{ speaker.name }} {{ speaker.surname }}</h3>
                      <p class="c-speaker__function">{{ speaker.function }}</p>
                    </a>
                  </article>

                </li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
          </div>

        </div>
      </section>
      <section class="c-pagesection__body">
        <div class="l-container  l-container--narrow">

          <h2 class="u-hide">Sponsors</h2>

          {# Get sponsors #}
          {% for sponsor in sponsors %}
            {% if loop.first %}<ul class="c-sponsors">{% endif %}
              <li class="c-sponsors__item">

                <a class="c-sponsors__link" href="{{ sponsor.url }}">
                  <img class="c-sponsors__logo  o-fluidimg" src="/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                </a>

              </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}

        </div>
      </section>
    </div>

  </main>
{% endblock %}
