---
permalink: /{{ locale }}/index.html
---

{% extends "layouts/base.njk" %}
{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}

{% block content %}
  <main>

    <div class="c-pagesection  c-pagesection--intro">
      <section class="c-pagesection__body">
        <div class="l-container  l-intro">

          <div class="l-intro__content">

            <h2 class="c-h2">Burgerlijke ongehoorzaamheid en haar relatie tot het recht</h2>
            <div class="c-textintro">
              <p>Burgerlijke ongehoorzaamheid is een handelswijze die heel wat fundamentele vragen oproept. Samen met u willen we die graag onderzoeken.</p>
            </div>
            <p>Is ongehoorzaamheid een recht? En zo ja, welke plaats moet dit dan krijgen? Welke plaats is er voor de ongehoorzame ten aanzien van de justitie in een rechtsstaat?</p>
            <p>Wat is de grens tussen ongehoorzaamheid en opstand, geweld of zelfs revolte? Is burgerlijke ongehoorzaamheid slechts een actiemiddel of een doel op zich?</p>
            <p>Kan deze handelwijze de publieke opinie voor zich winnen, de maatschappelijke onenigheid overstijgen en een gemeenschappelijke wil tot uitdrukking brengen?</p>
          </div>
          <div class="l-intro__image">
            <img class="o-fluidimg"
                src="/img/protest_400.jpg"
                srcset="/img/protest_400.jpg 400w,
                        /img/protest_600.jpg 600w,
                        /img/protest_800.jpg 800w"
                sizes="(min-width: 1300px) 465px,
                        (min-width: 750px) 33vw,
                        100vw"
                alt="Manifestatie">
          </div>
        </div>
      </section>

      {# check if alerts #}
      {% if collections.alerts_nl | length %}
        <section class="c-pagesection__body">
          <div class="l-container  l-alerts">

            <div class="l-alerts__content">
              {% for alert in collections.alerts_nl | reverse | limit(2) %}
              <ul class="c-vlist">
                <li>

                  <div class="c-alert">
                    {{ alert.templateContent | safe }}
                  </div>

                </li>
              </ul>
              {% endfor %}
            </div>

          </div>

        </section>
      {% endif %}

      {# check if events #}
      {% if collections.events_nl | length %}
      <section class="c-pagesection__body">
        <div class="l-container  l-programme">

          <div class="l-programme__title">
            <h2 class="c-vtitle">Programme</h2>
          </div>
          <div class="l-programme__content">

            {# Get events #}
            {% for event in collections.events_nl | reverse %}
              {% if loop.first %}<ul class="l-grid  l-grid--2cols@medium  l-grid--3cols@large">{% endif %}

                <li class="l-grid__unit">

                  <article class="c-event">
                    <p class="c-event__type">{{ event.data.type }}</p>
                    <p class="c-event__date">
                      <time datetime="{{ event.data.startDate|date('YYYY-MM-DDTHH:mm') }}">{{ event.data.startDate|date("HH[h]mm", locale) }}</time>
                      -
                      <time datetime="{{ event.data.endDate|date('YYYY-MM-DDTHH:mm') }}">{{ event.data.endDate|date("HH[h]mm", locale) }}</time>
                    </p>
                    <h3 class="c-event__title">{{ event.data.title }}</h3>
                    {{ event.templateContent | safe }}
                    <p class="c-event__location">{{ event.data.location }}</p>
                  </article>

                </li>

              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
          </div>

        </div>
      </section>
      {% endif %}

      {# add register button #}
      {% if registrations.active === true %}
        <section class="c-pagesection__body">
          <div class="l-container  l-container--narrow  u-text-center">

            <p><a class="c-button" href="{{ registrations[locale].registrationsUrl }}">{{ registrations[locale].registrationsLabel }}</a></p>
            {% if registrations[locale].registrationsIntro %}
              <p>{{ registrations[locale].registrationsIntro }}</p>
            {% endif %}

          </div>
        </section>
      {% endif %}
    </div>

    <div class="c-pagesection  c-pagesection--light">
      <section class="c-pagesection__body">
        <div class="l-container  l-speakers">

          <div class="l-speakers__title">
            <h2 class="c-vtitle  c-vtitle--dark">Participants</h2>
          </div>
          <div class="l-speakers__content">

            {# Get speakers #}
            {% for speaker in collections.speakers_nl %}
              {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large">{% endif %}
                <li class="l-grid__unit">

                  <article class="c-speaker">
                    <a class="c-speaker__link" href="{{ speaker.data.url }}">
                      <p class="c-speaker__image-wrapper"><img src="/img/speakers/{{ speaker.data.picture }}" class="c-speaker__image  o-fluidimg" alt="{{ speaker.data.name }} {{ speaker.data.surname }}"></p>
                      <h3 class="c-speaker__name">{{ speaker.data.name }} {{ speaker.data.surname }}</h3>
                      <p class="c-speaker__function">{{ speaker.data.function }}</p>
                    </a>
                  </article>

                </li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
          </div>

        </div>
      </section>
      <section class="c-pagesection__body">
        <div class="l-container  l-container--narrow">

          <h2 class="u-hide">Sponsors</h2>

          {# Get sponsors #}
          {% for sponsor in sponsors %}
            {% if loop.first %}<ul class="c-sponsors">{% endif %}
              <li class="c-sponsors__item">

                <a class="c-sponsors__link" href="{{ sponsor.url }}">
                  <img class="c-sponsors__logo  o-fluidimg" src="/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                </a>

              </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}

        </div>
      </section>
    </div>

  </main>
{% endblock %}
