// --------------------------------------------
// =links
// --------------------------------------------

a {
  color: $color-brand2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
