// --------------------------------------------
// Fonts
// --------------------------------------------

/**
 * Droid Serif
*/

@font-face {
  font-family: "Droid Serif";
  src: url("../fonts/droidserif-bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
