// --------------------------------------------
// =events
// --------------------------------------------

.c-event {
  margin: 0;
  padding: 0;
}

.c-event__type {
  margin-bottom: pxtorem(6px);
  font-weight: 600;
  font-size: pxtorem(12px);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-gray3;
}

.c-event__date {
  margin-bottom: pxtorem(12px);
  font-size: pxtorem(20px);
  color: $color-brand2;
}

.c-event__title {
  margin-bottom: pxtorem(18px);
  font-size: pxtorem(18px);
  line-height: (30 / 18);
  font-family: $fontstack-alt;
  color: $color-gray1;

  @include mq(large) {
    font-size: pxtorem(20px);
    line-height: (30 / 20);
  }
}

.c-event__body {
  & a {
    color: $color-white;
    text-decoration: none;
  }

  & a:hover {
    color: $color-brand2;
    text-decoration: none;
  }
}

.c-event__location {
  margin-top: pxtorem(12px) * -1;
  margin-bottom: 0;
  color: $color-gray4;
}
