// --------------------------------------------
// =footer
// --------------------------------------------

.c-sitefooter {
  background-image: linear-gradient(
    to bottom,
    $color-white 0,
    $color-white 42px,
    $color-gray8 42px,
    $color-gray8 100%
  );

  & a {
    color: $color-gray3;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $color-brand2;
    }
  }

  @include mq(medium) {
    background-image: linear-gradient(
      to bottom,
      $color-white 0,
      $color-white 60px,
      $color-gray8 60px,
      $color-gray8 100%
    );
  }

  @include mq(large) {
    background-image: linear-gradient(
      to bottom,
      $color-white 0,
      $color-white 84px,
      $color-gray8 84px,
      $color-gray8 100%
    );
  }
}

.c-sitefooter__image {
  display: block;
  width: 100%;
}

.c-sitefooter__info {
  padding-top: pxtorem(30px);
  padding-bottom: pxtorem(30px);

  @include mq(medium) {
    padding-top: pxtorem(42px);
    padding-bottom: pxtorem(42px);
  }

  @include mq(large) {
    margin-left: 12%;
    margin-right: 12%;
    padding-top: pxtorem(60px);
    padding-bottom: pxtorem(60px);
  }
}

.c-sitefooter__end {
  padding-top: pxtorem(18px);
  padding-bottom: pxtorem(18px);
  border-top: 1px solid rgba($color-white, 0.1);

  @include mq(medium) {
    padding-top: pxtorem(24px);
    padding-bottom: pxtorem(24px);
  }

  @include mq(large) {
    padding-top: pxtorem(36px);
    padding-bottom: pxtorem(36px);
    justify-content: space-between;
  }
}

.c-sitefooter__copyright {
  font-size: pxtorem(12px);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: $color-gray4;
}
