// --------------------------------------------
// =languages nav
// --------------------------------------------

.c-lggnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.c-lggnav__item:not(:last-child) {
  margin-right: calc(3 / 16 * 1rem);

  @include mq(medium) {
    margin-right: calc(6 / 16 * 1rem);
  }
}

.c-lggnav__link {
  display: block;
  padding: calc(6 / 16 * 1rem);

  font-size: calc(13 / 16 * 1rem);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: $color-white;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-gray3;
    text-decoration: none;
  }

  @include mq(medium) {
    font-size: calc(14 / 16 * 1rem);
  }

  @include mq(large) {
    font-size: calc(16 / 16 * 1rem);
  }
}

.c-lggnav__link.is-active {
  color: $color-brand1;
}
