// --------------------------------------------
// =page sections
// --------------------------------------------

/**
 * top and bottom padding
 * variants for colors
 * can have multiple pagesection__body
*/

.c-pagesection {
  padding-top: pxtorem(60px);
  padding-bottom: pxtorem(60px);
  background-color: $color-gray8;

  @include mq(medium) {
    padding-top: pxtorem(82px);
    padding-bottom: pxtorem(82px);
  }

  @include mq(large) {
    padding-top: pxtorem(144px);
    padding-bottom: pxtorem(144px);
  }
}

.c-pagesection--light {
  background-color: $color-white;
  color: $color-gray8;
}

.c-pagesection__body + .c-pagesection__body {
  margin-top: pxtorem(60px);

  @include mq(medium) {
    margin-top: pxtorem(82px);
  }

  @include mq(large) {
    margin-top: pxtorem(144px);
  }
}
