// --------------------------------------------
// =buttons
// --------------------------------------------

.c-button {
  display: inline-block;
  padding: pxtorem(18px) pxtorem(36px);
  cursor: pointer;
  border: none;

  font-weight: 600;
  font-size: pxtorem(13px);
  line-height: 1;
  font-family: $fontstack-main;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.84);
  letter-spacing: 1px;

  background-color: $color-brand3;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-brand2;
    text-decoration: none;
  }
}
