// --------------------------------------------
// =lists
// --------------------------------------------

/**
 * vertical lists
*/

.c-vlist {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

.c-vlist--xs > li:not(:last-child) {
  margin-bottom: calc(3 / 16 * 1rem);
}

.c-vlist--s > li:not(:last-child) {
  margin-bottom: calc(6 / 16 * 1rem);
}
