// --------------------------------------------
// =page sections
// --------------------------------------------

/**
 * top and bottom padding
 * variants for colors
 * can have multiple pagesection__body
*/

.c-pagesection {
  padding-top: pxtorem(60px);
  padding-bottom: pxtorem(60px);
  background-color: $color-gray8;

  @include mq(medium) {
    padding-top: pxtorem(82px);
    padding-bottom: pxtorem(82px);
  }

  @include mq(large) {
    padding-top: pxtorem(144px);
    padding-bottom: pxtorem(144px);
  }
}

.c-pagesection--light {
  background-color: $color-white;
  color: $color-gray8;
}

.c-pagesection--intro {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../img/fist_small.png);
  background-position: calc(100% - 30px) 100%;

  @include mq(medium) {
    background-image: url(../img/fist_medium.png);
    background-position: calc(100% - 60px) 100%;
  }

  @include mq(xlarge) {
    background-image: url(../img/fist_large.png);
    background-position: calc(100% - ((100vw - 1300px) / 2)) 100%;
  }

  &::after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: -42px;
    width: 120px;
    height: 84px;
    border: 2px solid $color-brand1;

    @include mq(medium) {
      right: 60px;
      bottom: -60px;
      width: 120px;
      height: 120px;
    }

    @include mq(large) {
      right: 60px;
      bottom: -90px;
      width: 120px;
      height: 180px;
    }

    @include mq(xlarge) {
      left: calc(100% - 120px - ((100vw - 1300px) / 2));
      bottom: -120px;
      width: 120px;
      height: 240px;
    }
  }
}

.c-pagesection__body + .c-pagesection__body {
  margin-top: pxtorem(60px);

  @include mq(medium) {
    margin-top: pxtorem(82px);
  }

  @include mq(large) {
    margin-top: pxtorem(144px);
  }
}
