// --------------------------------------------
// =header
// --------------------------------------------

.c-siteheader {
  position: relative;

  background-color: $color-gray8;
  background-image: url(../img/banner_home_600.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: calc(42 / 16 * 1rem);
  padding-bottom: calc(42 / 16 * 1rem);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: calc(100% - 24 / 16 * 1rem);
    background-color: $color-gray8;

    @include mq(medium) {
      width: calc(100% - 30 / 16 * 1rem);
    }

    @include mq(large) {
      height: 42px;
    }

    @include mq(xlarge) {
      width: calc(50% + (1300px / 2) + 60 / 16 * 1rem);
    }
  }

  @include mq(small) {
    background-position: 50% 50%;
    background-image: url(../img/banner_home_800.jpg);
  }

  @include mq(medium) {
    padding-top: calc(82 / 16 * 1rem);
    padding-bottom: calc(42 / 16 * 1rem);
    background-image: url(../img/banner_home_1024.jpg);
  }

  @include mq(large) {
    padding-top: calc(120 / 16 * 1rem);
    padding-bottom: calc(42 / 16 * 1rem);
    background-image: url(../img/banner_home_1500.jpg);
  }
}

.c-siteheader__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.c-siteheader__logo {
  margin: 0;
  padding: 0;

  & > a {
    display: inline-block;
  }

  & svg {
    vertical-align: middle;
    width: 42px;
    height: 42px;

    @include mq(medium) {
      width: 48px;
      height: 48px;
    }

    @include mq(large) {
      width: 60px;
      height: 60px;
    }
  }
}

.c-siteheader__content {
  margin-top: calc(84 / 16 * 1rem);
  margin-bottom: calc(84 / 16 * 1rem);

  @include mq(medium) {
    margin-top: calc(142 / 16 * 1rem);
    margin-bottom: calc(142 / 16 * 1rem);
    width: 600px;
  }

  @include mq(large) {
    margin-top: calc(180 / 16 * 1rem);
    margin-bottom: calc(240 / 16 * 1rem);
    width: 760px;
  }
}

.c-siteheader__event {
  margin-bottom: calc(12 / 16 * 1rem);
  font-size: calc(16 / 16 * 1rem);
  font-weight: 400;
  color: $color-brand1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.c-siteheader__theme {
  margin-bottom: calc(42 / 16 * 1rem);
  font-family: $fontstack-alt;
  font-size: calc(31 / 16 * 1rem);
  line-height: calc(42 / 31);
  font-weight: 600;
  color: $color-white;

  @include mq(medium) {
    font-size: calc(45 / 16 * 1rem);
    line-height: calc(54 / 45);
  }

  @include mq(large) {
    font-size: calc(61 / 16 * 1rem);
    line-height: calc(78 / 61);
  }
}

.c-siteheader__data {
  font-weight: 600;
  color: $color-gray3;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.c-siteheader__cta {
  margin-top: calc(36 / 16 * 1rem);

  @include mq(large) {
    margin-top: calc(60 / 16 * 1rem);
  }
}
