<!DOCTYPE html>
<html lang="{{ metaLang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ metaTitle }}</title>
  <link rel="stylesheet" href="/css/main.min.css">

  <!-- facebook -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ metaTitle }}">
  <meta property="og:image" content="{{ site.baseUrl }}/img/logo_socialmedia.png">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:description" content="{{ metaDescription }}">

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@equal_partners">
  <meta name="twitter:domain" content="equalday.eu">
  <meta name="twitter:creator" content="@equal_partners">
  <meta name="twitter:title" content="{{ metaTitle }}">
  <meta name="twitter:image" content="{{ site.baseUrl }}/img/logo_socialmedia.png">
</head>
<body>
  {% include "partials/siteheader.njk" %}
  {% block content %}{% endblock %}
  {% include "partials/sitefooter.njk" %}
</body>
</html>
