// --------------------------------------------
// =layout for the programme (GRID)
// --------------------------------------------

.l-programme {
  @include mq(medium) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.l-programme__title {
  @include mq(medium) {
    width: 80px;
  }
}

.l-programme__content {
  @include mq(medium) {
    width: calc(100% - 80px - 36px);
  }
}

// --------------------------------------------
// =layout for the programme (GRID)
// --------------------------------------------

@supports (display: grid) {
  .l-programme__title,
  .l-programme__content {
    @include mq(medium) {
      width: auto;
    }
  }
}

.l-programme {
  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "t c c c c c";
    grid-gap: pxtorem(36px);
  }

  @include mq(large) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "t c c c c c c .";
  }
}

.l-programme__title {
  @include mq(medium) {
    grid-area: t;
  }
}

.l-programme__content {
  @include mq(medium) {
    grid-area: c;
  }
}
