// -------------------------------------
// Containers
// -------------------------------------

/**
 * Centered and have max-width + padding
*/

.l-container {
  margin: 0 auto;
  max-width: 1300px;
  padding-left: pxtorem(24px);
  padding-right: pxtorem(24px);

  @include mq(medium) {
    padding-left: pxtorem(60px);
    padding-right: pxtorem(60px);
  }
}

.l-container--narrow {
  padding-left: 10%;
  padding-right: 10%;

  @include mq(large) {
    padding-left: 20%;
    padding-right: 20%;
  }

  @include mq(xlarge) {
    padding-left: 25%;
    padding-right: 25%;
  }
}
