// -------------------------------------
// Alerts
// -------------------------------------

.l-alerts {
  @include mq(large) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: ". c c c c c c .";
    grid-gap: calc(36 / 16 * 1rem);
  }
}

.l-alerts__content {
  grid-area: c;
}
