// --------------------------------------------
// =layout for the speakers (Flexbox)
// --------------------------------------------

.l-speakers {
  @include mq(medium) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.l-speakers__title {
  @include mq(medium) {
    width: 100px;
  }
}

.l-speakers__content {
  @include mq(medium) {
    width: calc(100% - 100px - 36px);
  }
}

// --------------------------------------------
// =layout for the speakers (GRID)
// --------------------------------------------

@supports (display: grid) {
  .l-speakers__title,
  .l-speakers__content {
    @include mq(medium) {
      width: auto;
    }
  }
}

.l-speakers {
  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "c c c c c t";
    grid-gap: pxtorem(36px);
  }

  @include mq(large) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "c c c c c c c t";
  }
}

.l-speakers__title {
  @include mq(medium) {
    justify-self: flex-end;
    grid-area: t;
  }
}

.l-speakers__content {
  @include mq(medium) {
    grid-area: c;
  }
}
