// --------------------------------------------
// =colors
// --------------------------------------------

$color-brand1: #f5701d;
$color-brand2: #e86b1d;
$color-brand3: #bf5818;
$color-brand4: #a84d14;

$color-gray1: #f3f2f2;
$color-gray2: #cfcdcc;
$color-gray3: #b6b4b3;
$color-gray4: #868280;
$color-gray5: #6e6a67;
$color-gray6: #56514e;
$color-gray7: #251f1b;
$color-gray8: #0d0602;

$color-white: #ffffff;
