<header class="c-siteheader">
  <div class="l-container">

    <div class="c-siteheader__navbar">
      <p class="c-siteheader__logo"><a href="{{ languages[locale].homeUrl }}">{% include "svg/logo.svg" %}</a></p>
      <nav class="c-siteheader__lggnav">
        {% include "partials/languages-nav.njk" %}
      </nav>
    </div>

    <div class="c-siteheader__content">
      <h1 class="c-siteheader__event">{{ header[locale].eventName }}</h1>
      <h2 class="c-siteheader__theme">{{ header[locale].eventTitle }}</h2>
      <p class="c-siteheader__data">{{ header[locale].eventData }}</p>
      {% if registrations.active === true %}
        <p class="c-siteheader__cta"><a class="c-button" href="{{ registrations[locale].registrationsUrl }}">{{ registrations[locale].registrationsLabel }}</a></p>
      {% endif %}
    </div>

  </div>
</header>
