<header class="c-siteheader">
  <div class="l-container">

    <div class="c-siteheader__navbar">
      <p class="c-siteheader__logo">{% include "svg/logo.svg" %}</p>
      <nav class="c-siteheader__lggnav">
        <ul class="c-lggnav">
          <li class="c-lggnav__item"><a class="c-lggnav__link  is-active" href="/">FR</a></li>
          <li class="c-lggnav__item"><a class="c-lggnav__link" href="/en/">EN</a></li>
          <li class="c-lggnav__item"><a class="c-lggnav__link" href="/nl/">NL</a></li>
        </ul>
      </nav>
    </div>

    <div class="c-siteheader__content">
      <h1 class="c-siteheader__event">Equal Day 2019</h1>
      <h2 class="c-siteheader__theme">Droit et|ou Désobeissance Civile</h2>
      <p class="c-siteheader__data">27 Octobre 2019, Bruxelles, Flagey</p>
    </div>

  </div>
</header>
