<footer class="c-sitefooter">
  <div class="l-container">

    <img src="/img/flagey_1500.jpg"
         srcset="/img/flagey_600.jpg 600w,
                 /img/flagey_1024.jpg 1024w,
                 /img/flagey_1500.jpg 1500w"
         sizes="(min-width: 1300px) 1300px,
                100vw"
         class="c-sitefooter__image  o-fluidimg"
         alt="Flagey building">

    <div class="c-sitefooter__info  l-grid  l-grid--3cols@medium">
      <div class="l-grid__unit">

        <h2 class="c-footertitle">{{ footer[locale].titleContact }}</h2>
        <ul class="c-vlist  c-vlist--xs">
          <li><a href="mailto:hello@equalday.eu">hello@equalday.eu</a></li>
          <li><a href="tel:003228999800">+32 (0)2 899 98 00</a></li>
        </ul>
        <ul class="c-socialmedia">
          <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://twitter.com/equal_partners">{% include "svg/icon_twitter.svg" %}</a></li>
          <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.facebook.com/equalpartners/">{% include "svg/icon_facebook.svg" %}</a></li>
          <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.linkedin.com/company/equal-partners-law-for-better-living/">{% include "svg/icon_linkedin.svg" %}</a></li>
        </ul>

      </div>
      <div class="l-grid__unit">

        <h2 class="c-footertitle">{{ footer[locale].titleAddress }}</h2>
        <p>
          Flagey<br>
          {{ footer[locale].addressStreet }},<br>
          {{ footer[locale].addressPostcode }} {{ footer[locale].addressCity }}
        </p>
        <p><a href="https://goo.gl/maps/8VYehs1GEEC6RKHU7">{{ footer[locale].directionsLabel }}</p></a>

      </div>
      <div class="l-grid__unit">
        <h2 class="c-footertitle">{{ footer[locale].titleTransports }}</h2>
        <ul class="c-vlist  c-vlist--xs">
          <li>Tram: 81</li>
          <li>Bus: 38, 59, 60, 71</li>
          <li>{{ footer[locale].transportsParking }}</li>
        </ul>
        <p><a href="http://www.stib-mivb.be/">{{ footer[locale].transportsSTIB }}</p></a>
      </div>
    </div>

    <p class="c-sitefooter__copyright">
      Copyright {{ site.buildTime | date("YYYY") }} - EQUAL Partners
      <a href="/docs/legal/{{ footer[locale].legalDoc }}" download>{{ footer[locale].legalLabel }}</a>
    </p>

  </div>
</footer>
