<header class="c-siteheader">
  <div class="l-container">

    <div class="c-siteheader__navbar">
      <p class="c-siteheader__logo">{% include "svg/logo.svg" %}</p>
      <nav class="c-siteheader__lggnav">
        <ul class="c-lggnav">
          <li class="c-lggnav__item"><a class="c-lggnav__link  {% if locale == 'fr' %}is-active{% endif %}" href="/">FR</a></li>
          <li class="c-lggnav__item"><a class="c-lggnav__link  {% if locale == 'en' %}is-active{% endif %}" href="/en/">EN</a></li>
          <li class="c-lggnav__item"><a class="c-lggnav__link  {% if locale == 'nl' %}is-active{% endif %}" href="/nl/">NL</a></li>
        </ul>
      </nav>
    </div>

    <div class="c-siteheader__content">
      <h1 class="c-siteheader__event">{{ header[locale].eventName }}</h1>
      <h2 class="c-siteheader__theme">{{ header[locale].eventTitle }}</h2>
      <p class="c-siteheader__data">{{ header[locale].eventData }}</p>
      {% if registrations.active === true %}
        <p class="c-siteheader__cta"><a class="c-button" href="{{ registrations[locale].registrationsUrl }}">{{ registrations[locale].registrationsLabel }}</a></p>
      {% endif %}
    </div>

  </div>
</header>
