<footer class="c-sitefooter">
  <div class="l-container">

    <img class="c-sitefooter__image  o-fluidimg" src="img/flagey_1500.jpg" alt="Flagey building">

    <div class="c-sitefooter__info  l-grid  l-grid--3cols@medium">
      <div class="l-grid__unit">

        <h2 class="c-footertitle">Contact</h2>
        <ul class="c-vlist  c-vlist--xs">
          <li><a href="mailto:hello@equalday.eu">hello@equalday.eu</a></li>
          <li><a href="tel:003228999800">+32 (0)2 899 98 00</a></li>
        </ul>
        <ul class="c-socialmedia">
          <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://twitter.com/equal_partners">{% include "svg/icon_twitter.svg" %}</a></li>
          <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.facebook.com/equalpartners/">{% include "svg/icon_facebook.svg" %}</a></li>
          <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.linkedin.com/company/equal-partners-law-for-better-living/">{% include "svg/icon_linkedin.svg" %}</a></li>
        </ul>

      </div>
      <div class="l-grid__unit">

        <h2 class="c-footertitle">Adresse</h2>
        <p>
          Flagey<br>
          Place Sainte-Croix,<br>
          1050 Bruxelles
        </p>
        <p><a href="#">Google maps</p></a>

      </div>
      <div class="l-grid__unit">
        <h2 class="c-footertitle">Transports</h2>
        <ul class="c-vlist  c-vlist--xs">
          <li>Tram 81</li>
          <li>Bus: 38, 59, 60, 71</li>
          <li>Parking disponible</li>
        </ul>
        <p><a href="#">Site STIB</p></a>
      </div>
    </div>

    <p class="c-sitefooter__copyright">Copyright 2019 - EQUAL Partners - <a href="#">Conditions d'utilisation</a></p>

  </div>
</footer>
